In [1]:
import pickle

import pandas as pd

In [2]:
with open('out/recipes_list.pickle', 'rb') as f:
    recipes = pickle.load(f)

In [3]:
fields = set(recipes[0].keys())

In [4]:
fields

{'id',
 'ingredients',
 'num_ingredients',
 'num_preparations',
 'num_styles',
 'num_techniques',
 'num_techniquesR',
 'num_worlds',
 'preparations_families',
 'recipe_family',
 'styles_families',
 'techniques',
 'techniquesR_families',
 'temperature',
 'title',
 'worlds',
 'year'}

In [5]:
recipes_data = []
for r in recipes:
    r1 = {}
    r1['id'] = r['id']
    r1['title'] = r['title']
    r1['year'] = r['year']
    recipes_data.append(r1)

In [6]:
recipes_data_df = pd.DataFrame(recipes_data)
recipes_data_df.set_index('id', inplace=True)
recipes_data_df.sort_index(inplace=True)

In [7]:
recipes_data_df.head()

                                                title  year
id
1                terrina de melón con gelée de oporto  1987
2                           mousse de trufa negra '87  1987
3   ensalada de pasta fresca con caviar, tempura d...  1987
4           raviolis de cigala, patatas y trufa negra  1987
5   tempura de flor de calabacín rellena de mozzar...  1987

In [8]:
all_ingredients = set()
for r in recipes:
    all_ingredients = all_ingredients.union(r['ingredients'])

In [9]:
all_preparations_families = set()
for r in recipes:
    all_preparations_families = all_preparations_families.union(r['preparations_families'])

In [10]:
all_recipe_families = set()
for r in recipes:
    all_recipe_families = all_recipe_families.union(r['recipe_family'])

In [11]:
all_styles_families = set()
for r in recipes:
    all_styles_families = all_styles_families.union(r['styles_families'])

In [12]:
all_techniques = set()
for r in recipes:
    all_techniques = all_techniques.union(r['techniques'])

In [13]:
all_techniquesR_families = set()
for r in recipes:
    all_techniquesR_families = all_techniquesR_families.union(r['techniquesR_families'])

In [14]:
all_temperatures = set()
for r in recipes:
    all_temperatures = all_temperatures.union(r['temperature'])

In [15]:
all_worlds = set()
for r in recipes:
    all_worlds = all_worlds.union(r['worlds'])

In [16]:
all_fields = \
    ['id'] + \
    ['num_ingredients', 'num_preparations', 'num_styles', 'num_techniques', 'num_techniquesR', 'num_worlds'] + \
    ['i_' + x for x in all_ingredients] + \
    ['pf_' + x for x in all_preparations_families] + \
    ['rf_' + x for x in all_recipe_families] + \
    ['sf_' + x for x in all_styles_families] + \
    ['t_' + x for x in all_techniques] + \
    ['trf_' + x for x in all_techniquesR_families] + \
    ['temp_' + x for x in all_temperatures] + \
    ['w_' + x for x in all_worlds]

In [17]:
recipes_ml = []
for r in recipes:
    r2 = {}
    r2['id'] = r['id']
    r2['num_ingredients'] = r['num_ingredients']
    r2['num_preparations'] = r['num_preparations']
    r2['num_styles'] = r['num_styles']
    r2['num_techniques'] = r['num_techniques']
    r2['num_techniquesR'] = r['num_techniquesR']
    r2['num_worlds'] = r['num_worlds']
    for x in r['ingredients']:
        r2['i_' + x] = r['ingredients'].count(x)
    for x in r['preparations_families']:
        r2['pf_' + x] = r['preparations_families'].count(x)
    for x in r['recipe_family']:
        r2['rf_' + x] = r['recipe_family'].count(x)
    for x in r['styles_families']:
        r2['sf_' + x] = r['styles_families'].count(x)
    for x in r['techniques']:
        r2['t_' + x] = r['techniques'].count(x)
    for x in r['techniquesR_families']:
        r2['trf_' + x] = r['techniquesR_families'].count(x)
    for x in r['temperature']:
        r2['temp_' + x] = r['temperature'].count(x)
    for x in r['worlds']:
        r2['w_' + x] = r['worlds'].count(x)
    recipes_ml.append(r2)

In [18]:
recipes_ml_df = pd.DataFrame(recipes_ml, columns=all_fields)
recipes_ml_df.fillna(0, inplace=True)
recipes_ml_df = recipes_ml_df.astype(int)
recipes_ml_df.set_index('id', inplace=True)
recipes_ml_df.sort_index(inplace=True)

In [19]:
recipes_ml_df.head()

,num_ingredients,num_preparations,num_styles,num_techniques,num_techniquesR,num_worlds,i_chocolate troceado,i_pizza,i_jugo de trufa negra,i_fresitas liofilizadas,...,temp_CALIENTE/FRÍA,temp_HELADA/FRÍA,temp_TIBIA/CALIENTE,temp_FRÍA/HELADA,temp_CALIENTE/HELADA,temp_TIBIA,temp_HELADA/FRÍA/AMBIENTE,temp_TIBIA/AMBIENTE,w_DULCE,w_SALADO
id,,,,,,,,,,,,,,,,,,,,,
1,7,4,1,17,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,15,5,0,22,0,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2
3,21,5,0,29,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,30,10,1,56,0,3,0,0,1,0,...,0,0,0,0,0,0,0,0,0,3
5,25,7,1,37,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [20]:
recipes_data_df.to_csv('out/recipes_data.csv', index=False)

In [21]:
recipes_ml_df.to_csv('out/recipes_ml.csv', index=False)